---
export interface DropdownItem {
  category: string;
  label: string;
}

export interface CategorizedDropdownConfig {
  options: any;
  selected: string;
  id: string;
  style?: string;
}

const { options, selected, id, style } =
  Astro.props as CategorizedDropdownConfig;

let class_ = "inline";
if (style) {
  class_ = style;
}

type GroupedOptions = {
  [category: string]: Array<{ key: string } & DropdownItem>;
};

const groupedOptions = Object.entries(options).reduce<GroupedOptions>(
  (acc, [key, value]) => {
    const item = value as DropdownItem;
    if (!acc[item.category]) {
      acc[item.category] = [];
    }
    acc[item.category].push({ key, ...item });
    return acc;
  },
  {} as GroupedOptions,
);
---

<select id={id} class={class_}>
  {
    Object.entries(groupedOptions).map(([category, options]) => (
      <>
        <option disabled class="category">
          {category}
        </option>
        {options.map((option) => (
          <option
            id={option.key}
            value={option.key}
            selected={option.key === selected}
          >
            {option.label}
          </option>
        ))}
      </>
    ))
  }
</select>

<style>
  .category {
    color: white;
    background-color: black;
  }

  .inline {
    display: inline;
  }
  .hidden {
    display: hidden;
  }
  .nodisplay {
    display: none;
  }
</style>
