---
import EpochPicker from "@components/EpochPicker.astro";

export interface EpochRangePickerConfig {
  startYear: number;
  endYear: number;
  startValueYear: number | null;
  endValueYear: number | null;
  renderAs: "date" | "age";
  startId: string;
  endId: string;
}

let {
  startYear,
  endYear,
  startValueYear,
  endValueYear,
  renderAs,
  startId,
  endId,
} = Astro.props as EpochRangePickerConfig;

if (!startValueYear) {
  startValueYear = startYear;
}
if (!endValueYear) {
  endValueYear = endYear;
}
---

<span>
  <EpochPicker
    startYear={startYear}
    endYear={endYear}
    valueYear={startValueYear}
    renderAs={renderAs}
    id={startId}
  />
  -
  <EpochPicker
    startYear={startYear}
    endYear={endYear}
    valueYear={endValueYear}
    renderAs={renderAs}
    id={endId}
  />
</span>
