---
export interface IntDropdownProps {
  options: string[];
  selected: string;
  singularText?: string;
  pluralText: string;
  id: string;
  style?: string;
}
const { options, selected, singularText, pluralText, id, style } =
  Astro.props as IntDropdownProps;

let class_ = "inline";
if (style) {
  class_ = style;
}
---

<select id={id} class={class_}>
  {
    options.map((option) => (
      <option value={option} selected={option === selected}>
        {singularText && option === "1"
          ? singularText
          : `${option}${pluralText}`}
      </option>
    ))
  }
</select>

<style>
  .inline {
    display: inline;
  }
  .hidden {
    display: hidden;
  }
  .nodisplay {
    display: none;
  }
</style>
