---
interface Frontmatter {
  title: string;
}

interface Props {
  frontmatter: Frontmatter;
}

const { title } = Astro.props.frontmatter;

import { BASE_URL } from "@utils/constants";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, height=device-height, user-scalable=yes, initial-scale=1.0"
    />
    <meta name="date" content="2024-07-05" />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://TODO" />
    <!-- <meta property="og:image" content="/avatar.gif" /> -->
    <meta property="og:locale" content="en_US" />
    <!-- <meta property="og:site_name" content="mun!" /> -->
    <meta property="og:description" content="TODO: Study Toki Pona" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href=`${BASE_URL}/favicon.svg` />
    <link rel="icon" type="image/x-icon" href=`${BASE_URL}/favicon.ico` />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href=`${BASE_URL}/favicon-32x32.png`
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href=`${BASE_URL}/favicon-16x16.png`
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="#f2f2f2"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#333333"
    />
  </head>

  <body>
    <nav>
      <a href=`${BASE_URL}/`>Search</a>
      <!-- <a href=`${BASE_URL}/ranks`>Ranks</a> -->
      <a href=`${BASE_URL}/about`>About</a>
      <a href=`${BASE_URL}/help`>Help!</a>
    </nav>

    <article>
      <header>
        <img src=`${BASE_URL}/favicon.svg` />
        <h3>{title}</h3>
      </header>
      <slot />
      <footer>
        see my other work TODO: mun.la, gregdan3.dev, github, youtube
      </footer>
    </article>
  </body>
</html>

<style is:global>
  :root {
    --prim-fg: #444444;
    --prim-bg: #f2f2f2;
    --prim-ac: #555555;

    --sec-fg: #333333;
    --sec-bg: #d3d3d3;

    --spoil-fg: #443231;
    --spoil-bg: #e2c49c;

    --url: #3366cc;
    --urlvisited: #7755bb;

    --block-mark: 4px;
    --indent: 0.5em;
  }
  html {
    font-size: 16px;
    font-family: -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
      Cantarell, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  header {
    display: flex;
    padding-block: 1em;
  }
  header > h3 {
    margin-block: auto;
    margin-left: 0.75em;
    margin-right: auto;
  }
  header > img {
    width: 4em;
    height: 3em;
  }
  nav {
    text-align: center;
    font-weight: bold;
    margin: 1em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  nav > a {
    color: inherit;
    border: 0.3em outset lightgray;
    padding: 0.5em;
    padding-left: 1.5%;
    padding-right: 1.5%;
    margin: 1%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    box-shadow: 0.15em 0.15em 0 0 rgba(0, 0, 0, 1);
  }

  nav > a:hover {
    box-shadow: 0.25em 0.25em 0 0 rgba(0, 0, 0, 1);
  }

  nav > a:active {
    border-style: inset;
    background: #dddddd;
  }

  code {
    background: var(--sec-bg);
    padding: 0.1em;
  }

  p {
    margin: 0;
    margin-left: var(--indent);
    margin-right: var(--indent);
  }
  p + p {
    margin-top: 10px;
  }

  article summary {
    cursor: pointer;
    padding: var(--indent);
  }
  article summary > * {
    display: inline-block;
  }

  article details {
    display: block;
    color: var(--spoil-fg);
    background: var(--spoil-bg);
    border-left: var(--block-mark) solid var(--spoil-fg);
    margin: var(--indent);
  }
  article details > p {
    padding: var(--indent);
  }
  article details[open] {
    padding-bottom: 0.25em;
  }
  article details[open] > summary {
    border-bottom: var(--block-mark) solid var(--spoil-fg);
  }

  article blockquote {
    margin: var(--indent);
    padding: var(--indent);
  }
  blockquote {
    color: var(--sec-fg);
    background: var(--sec-bg);
    border-left: var(--block-mark) solid var(--sec-fg);
  }

  article {
    margin: 6% auto;
    margin-top: 0%;
    padding: 4%;
    padding-top: 0%;
    background: var(--prim-bg);
    color: var(--prim-fg);
    max-width: 80%;
    box-shadow:
      0 5px 10px rgba(0, 0, 0, 0.2),
      0 15px 40px rgba(0, 0, 0, 0.05);
    line-height: 1.5em;
  }
  footer {
    font-size: 0.75em;
    line-height: 1em;
    text-align: center;
    margin-top: 1em;
  }
  article a {
    text-decoration: underline URL;
    color: var(--url);
  }
  article a:hover {
    text-decoration: underline dotted;
  }
  article a:visited {
    text-decoration: underline var(--urlvisited);
    color: var(--urlvisited);
  }

  @media (min-width: 900px) {
    html {
      font-size: 18px;
    }
    article {
      line-height: 1.7em;
    }
  }
  @media (min-width: 1200px) {
    html {
      font-size: 20px;
    }
  }
  @media (min-width: 1500px) {
    html {
      font-size: 22px;
    }
  }
  @media (min-width: 1800px) {
    html {
      font-size: 24px;
    }
  }
  @media (pointer: none), (pointer: coarse) {
    html {
      font-size: 16px;
    }
  }
</style>
